---
title: Jess Young | blog
description: Blog
layout: default
permalink: /es/blog/
ref: blog
---
<div class="page">
  <h1>Blog</h1>
    {% assign posts=site.posts | where:"lang", page.lang %}
    {% for post in posts %}
      <div class="blog-posts">
        <a href="{{ post.url }}"><div class="posts-image" style="background-image:url({{ post.postHero }})"></div></a>
        <header class="post-header">
          <h2>{{ post.title }}</h2>
          <div class="post-byline">
            by {{ post.author }}
            <span> | {% include date.html date=post.date %} {{ day }} {{ month }} {{ year }}</span>
          </div>
        </header>
        {{ post.excerpt }}
        <a href="{{ post.url }}">read more...</a>
      </div>
    {% endfor %}
</div>
