---
title: About | Jess Young
description: Learn more about me
layout: default
permalink: /about/
ref: about
---
<div class="full-hero hero-about">
  <h1>Jess Young</h1>
  <h2>Curriculum-vitae</h2>
  <div class="action-button"><a href="/assets/jyoung_CV_2022.pdf">Download CV</a></div>
</div>
<div class="full-hero cv-section hero-skills">
  <h2>SUMMARY</h2>
  <p>For the past 8+ years I've worked with non-profits, small businesses, and start-ups, focusing on scaling organizations through business process optimization and CRM design & implementation. I love using my analytical skills to improve the flow of data between different parts of an organization and help teams work more cohesively.</p>
  <br/><p>I've worked as a Salesforce consultant and as the primary architect and administrator for a 150+ user Salesforce environment, including Visualforce and Apex development. I'm also a certified Dell Boomi Professional Developer with experience building custom integrations between CRM, accounting and construction management platforms.</p>
  <br/><p>I care about living my life with minimal negative impact to the environment and prioritize working with mission based organizations committed to sustainability.</p>
</div>
<div class="full-hero cv-section">
  <h2>PROFESSIONAL EXPERIENCE</h2>
  <div class="two-col">
    <div class="small-col left-col">
      <h2>OpenTent</h2>
      <h3>Senior Solutions Engineer</h3>
      <h4>2022 - present</h4>
      <h3>Solutions Engineer</h3>
      <h4>2020 - 2021</h4>
    </div>
    <div class="large-col right-col">
      <p>OpenTent is a Salesforce consulting firm that works with non-profit organizations to grow their communities and strengthen their processes. My primary role as a consultant is to implement Salesforce, Nonprofit Success Pack (NPSP) and Salesforce integration solutions using Agile methodology.</p>
      <ul class="bullets">
        <li>Developing the architecture of a Salesforce + Accounting system integration to improve scalability and maintainability, while decreasing manual efforts and discrepancies in reconciliations.</li>
        <li>Building Google Apps Script automation to clean and transform data exports from various 3rd party donation channels to prepare for import into Salesforce, resulting in a 90% decrease of manual effort.</li>
        <li>Implementing and configuration of various NPSP products, such as the Program Management Module (PMM), Gift Entry, Data Importer, and Fundraising.</li>
        <li>Training and mentoring junior engineers in best practices and skills development.</li>
      </ul>
    </div>
  </div>
  <div class="two-col">
    <div class="small-col left-col">
      <h2>Bright Power</h2>
      <h3>Systems and Integration Specialist</h3>
      <h4>2019 - present</h4>
      <h3>Operations Associate</h3>
      <h4>2017 - 2018</h4>
      <h3>Engineering Operations Administrator</h3>
      <h4>2015 - 2016</h4>
    </div>
    <div class="large-col right-col">
      <p>Bright Power is an engineering consulting firm that helps buildings save energy. My primary role on the Technology Operations team is to build internal tools, systems and integrations to streamline business processes and help our employees work smarter together.</p>
      <ul class="bullets">
        <li>Designing and building custom integrations for Quickbooks, Salesforce, Procore and T-Sheets, primarily using Dell Boomi, in order to ensure smooth operations and flow of data between different departments of the company.</li>
        <li>Managing 150+ user Salesforce environment, including driving Lightning transition, developing in Visualforce and Apex, and implementation of Salesforce Site external user portal.</li>
        <li>Overhauling the Accounts Receivable process to minimize manual data entry and integrate our financial data directly within our project management/CRM system, resulting in a 30% increase in collections.</li>
        <li>Optimizing team workflow while building a new tracking system for energy audits of hundreds of buildings across New York City, and thousands of benchmarking compliance submissions nationwide.</li>
      </ul>
    </div>
  </div>
  <div class="two-col">
    <div class="small-col left-col">
      <h2>Sóijen</h2>
      <h3>Co-Founder</h3>
      <h4>2018 - present</h4>
    </div>
    <div class="large-col right-col">
      <p>At Sóijen we promote off-the-beaten-path areas in Patagonia through our unique products & designs. As Co-founder my role involves wearing many hats – from web design and content creation to vendor selection & management and financial planning & tracking.</p>
    </div>
  </div>
  <div class="two-col">
    <div class="small-col left-col">
      <h2>Zomato</h2>
      <h3>Operations Manager </h3>
      <h4>2014 - 2015</h4>
    </div>
    <div class="large-col right-col">
      <p>Zomato is a website and app that helps users discover new restaurants. In Santiago, Chile we built a database of 8500+ restaurants from the ground up. As Operations Manager for this fast growing start-up, I focused on growing our team and developing standardized processes.</p>
      <ul class="bullets">
        <li>Heading full cycle recruitment (sales, marketing, analysts) across all verticals, from entry level to senior positions. Sourcing candidates, screening, conducting 300+ interviews, training and integration of new talent. 10 new hires.</li>
        <li>Implementing new expense reporting system, day-to-day bookkeeping, and working with international finance team to guarantee accountability and cost-reduction.</li>
        <li>Developing an HR system to ensure compliance with Chilean law including safety trainings and protocols.</li>
    </div>
  </div>
</div>
<div class="full-hero cv-section hero-skills">
  <h2>SKILLS</h2>
  <div class="two-col">
    <div class="auto-col">
      <h3>Knowledge</h3>
      <div class="two-col skill-ratings">
        <div class="skill-col">
          <p>Database Design</p>
          <p>Salesforce + NPSP</p>
          <p>FinancialForce</p>
          <p>Quickbooks</p>
          <p>Google Apps Script</p>
          <p>Formassembly</p>
          <p>Apsona</p>
        </div>
        <div class="star-col">
          <p>Process Automation</p>
          <p>API Integration</p>
          <p>Dell Boomi</p>
          <p>Quickbase</p>
          <p>Project Management</p>
          <p>Agile Methodology</p>
          <p>Campaign Monitor</p>
        </div>
      </div>
    </div><div class="auto-col">
      <h3>Languages</h3>
      <div class="two-col skill-ratings">
        <div class="skill-col">
          <p>English</p>
          <p>Spanish</p>
          <p>Japanese</p>
          <p>French</p>
        </div>
        <div class="star-col">
          <p>{% include star5.html %}</p>
          <p>{% include star4.html %}</p>
          <p>{% include star2.html %}</p>
          <p>{% include star1.html %}</p>
        </div>
      </div>
    </div>
    <div class="auto-col">
      <h3>Activities & Interests</h3>
      <div class="two-col skill-ratings">
        <div class="skill-col">
          <p>Trail Running</p>
          <p>Paddling</p>
          <p>Building Science & Natural Building</p>
          <p>Japanese Woodworking</p>
          <p>Sustainability</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="full-hero cv-section">
  <h2>EDUCATION</h2>
  <div class="two-col">
    <div class="small-col left-col">
      <h2>Northwestern University</h2>
      <h3>Post-graduate Studies</h3>
      <h4>2012 - 2013</h4>
    </div>
    <div class="large-col right-col">
      <p>Post-graduate studies and research in physical chemistry. The focus of my research was understanding the reactions of organic aerosol particles in the atmosphere, and their consequences in climate change. In addition I was a teaching assistant in an Organic Chemistry laboratory course and taught and mentored undergraduate students pursuing career in sciences.</p>
    </div>
  </div>
  <div class="two-col">
    <div class="small-col left-col">
      <h2>McGill University</h2>
      <h3>Bachelor of Science, Chemistry</h3>
      <h4>2007 - 2011</h4>
    </div>
    <div class="large-col right-col">
      <p>Graduated with <em>First Class Honours</em> distinction. GPA: 3.64/4.00</p>
    </div>
  </div>
</div>
