---
title: About | Jess Young
description: Learn more about me
layout: default
permalink: /about/
ref: about
---
<div class="full-hero hero-about">
  <h1>Jess Young</h1>
  <h2>Curriculum-vitae</h2>
  <div class="action-button"><a href="/assets/jyoung_CV_2018.pdf">Download CV</a></div>
</div>
<div class="full-hero cv-section">
  <h2>PROFESSIONAL EXPERIENCE</h2>
  <div class="two-col">
    <div class="small-col left-col">
      <h2>Sóijen</h2>
      <h3>Co-founder</h3>
      <h4>2018 - present</h4>
    </div>
    <div class="large-col right-col">
      <p>Sóijen is a website that connects outdoor adventurers to off-the-beaten-path spots in Patagonia. We create content such as informational articles, photos and videos to highlight unique destinations in Chilean Patagonia, while partnering with local agencies to increase their visibility and online presence.</p>
    </div>
  </div>
  <div class="two-col">
    <div class="small-col left-col">
      <h2>Bright Power</h2>
      <h3>Operations Associate</h3>
      <h4>2015 - present</h4>
    </div>
    <div class="large-col right-col">
      <p>Bright Power is an engineering consulting firm that helps buildings save energy. My primary role is to build internal tools to help our employees work more cohesively and efficiently.</p>
      <ul class="bullets">
        <li>Structuring and building the company's central repository of information in a Salesforce database. Focus on the user experience and customizations through Visualforce and Apex code.</li>
        <li>Developing automation tools and integrations using Salesforce, Google Scripts, AutoHotKey and Quickbase to minimize manual tasks across company.</li>
        <li>Optimizing team workflow while implementing a new project management system to track energy audits in over 400 buildings accross the US.</li>
      </ul>
    </div>
  </div>
  <div class="two-col">
    <div class="small-col left-col">
      <h2>Zomato</h2>
      <h3>Operations Manager </h3>
      <h4>2014 - 2015</h4>
    </div>
    <div class="large-col right-col">
      <p>Zomato is a website and app that helps users discover new restaurants. In Santiago, Chile we built a database of 8500+ restaurants from the ground up. As Operations Manager for this fast growing start-up, I focused on growing our team and developing standardized processes.</p>
      <ul class="bullets">
        <li>Heading full cycle recruitment (sales, marketing, analysts) across all verticals, from entry level to senior positions. Sourcing candidates, screening, conducting 300+ interviews, training and integration of new talent. 10 new hires.</li>
        <li>Implementing new expense reporting system, day-to-day bookkeeping, and working with international finance team to guarantee accountability and cost-reduction.</li>
        <li>Developing an HR system to ensure compliance with Chilean law including safety trainings and protocols.</li>
    </div>
  </div>
</div>
<div class="full-hero cv-section hero-skills">
  <h2>SKILLS</h2>
  <div class="two-col">
    <div class="auto-col">
      <h3>Languages</h3>
      <div class="two-col skill-ratings">
        <div class="skill-col">
          <p>English</p>
          <p>Spanish</p>
          <p>Japanese</p>
          <p>French</p>
        </div>
        <div class="star-col">
          <p>{% include star5.html %}</p>
          <p>{% include star4.html %}</p>
          <p>{% include star3.html %}</p>
          <p>{% include star2.html %}</p>
        </div>
      </div>
    </div>
    <div class="auto-col">
      <h3>Tools</h3>
      <div class="two-col skill-ratings">
        <div class="skill-col">
          <p>HTML</p>
          <p>Salesforce</p>
          <p>CSS</p>
          <p>Jekyll</p>
          <p>Quickbase</p>
          <p>Git/Github</p>
          <p>Javascript</p>
        </div>
        <div class="star-col">
          <p>{% include star5.html %}</p>
          <p>{% include star5.html %}</p>
          <p>{% include star4.html %}</p>
          <p>{% include star4.html %}</p>
          <p>{% include star4.html %}</p>
          <p>{% include star3.html %}</p>
          <p>{% include star2.html %}</p>
        </div>
      </div>
    </div>
    <div class="auto-col">
      <h3>Knowledge</h3>
      <div class="two-col skill-ratings">
        <div class="skill-col">
          <p>Database design</p>
          <p>Data analysis</p>
          <p>Operations mgmt</p>
          <p>Process automation</p>
          <p>UI / UX</p>
        </div>
        <div class="star-col">
          <p>{% include star5.html %}</p>
          <p>{% include star5.html %}</p>
          <p>{% include star5.html %}</p>
          <p>{% include star4.html %}</p>
          <p>{% include star3.html %}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="full-hero cv-section">
  <h2>EDUCATION</h2>
  <div class="two-col">
    <div class="small-col left-col">
      <h2>Northwestern University</h2>
      <h3>Post-graduate Studies</h3>
      <h4>2012 - 2013</h4>
    </div>
    <div class="large-col right-col">
      <p>Post-graduate studies and research in physical chemistry. The focus of my research was understanding the reactions of organic aerosol particles in the atmosphere, and their consequences in climate change. In addition I was a teaching assistant in an Organic Chemistry laboratory course and taught and mentored undergraduate students pursuing career in sciences.</p>
    </div>
  </div>
  <div class="two-col">
    <div class="small-col left-col">
      <h2>McGill University</h2>
      <h3>Bachelor of Science, Chemistry</h3>
      <h4>2007 - 2011</h4>
    </div>
    <div class="large-col right-col">
      <p>Graduated with <em>First Class Honours</em> distinction. GPA: 3.64/4.00</p>
    </div>
  </div>
</div>
